name: Backend build&test&release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
 GITHUB_TOKEN: ${{ github.token }}
 IMAGE_NAME: winter23-measurements

jobs:
 build:
      name: Build Artefact
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-java@v1
          with:
            java-version: 17
        - run: mvn -B package --file pom.xml -DskipTests
          working-directory: measurements_backend
        - run: mkdir staging && cp target/*.jar staging/measurements_backend.jar
          working-directory: measurements_backend
        - uses: actions/upload-artifact@v1
          with:
            name: measurements_backend_jar
            path: measurements_backend/staging
            
 test:
      name: Run tests
      needs: build
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-java@v1
          with:
            java-version: 17
        - name: Run tests
          working-directory: ./measurements_backend
          run: ./mvnw -B test
        
 docker:
      name: Build and upload docker image
      needs: [test, build]
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions/download-artifact@v1
          with:
             path: measurements_backend/target
             name: measurements_backend_jar
        - run: cp measurements_backend.jar measurements-0.0.1-SNAPSHOT.jar
          working-directory: measurements_backend/target
        - name: Build the Docker image
          working-directory: measurements_backend
          run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}
        - name: Log in to Docker Hub
          uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
          with:
           username: ${{ secrets.DOCKER_USERNAME }}
           password: ${{ secrets.DOCKER_PASSWORD }}
        - name: Build and push Docker image
          run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}
 release:
      name: Create release and upload artifact
      needs: [test, build]
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-java@v1
          with:
            java-version: 17
        - uses: actions/download-artifact@v1
          with:
             path: measurements_backend
             name: measurements_backend_jar
        - run: tree
        - name: Get current date
          id: date
          run: echo "::set-output name=date::$(date +'%Y-%m-%d-%H:%M')"
        - name: Get current tag
          id: tag
          run: echo "::set-output name=tag::$(date +'%Y.%m.%d.%H.%M')"
        - name: release
          uses: actions/create-release@v1
          id: create_release
          with:
           draft: false
           prerelease: false
           release_name: Backend-Nightly-${{ steps.date.outputs.date }}
           tag_name: backend_nightly.${{ steps.tag.outputs.tag }}
        - name: upload artifact
          uses: actions/upload-release-asset@v1
          with:
           upload_url: ${{ steps.create_release.outputs.upload_url }}
           asset_path: measurements_backend/measurements_backend.jar
           asset_name: Backend-Nightly-${{ steps.date.outputs.date }}
           asset_content_type: application/jar
       
      
